.friendList {
    width: 500px;
    background-color: #9cf7ef;
    border-radius: 20px;
    margin-top: 25px;
    padding: 10px 0px;
}
.item {
    display: flex;
align-items: center;
margin-left: 60px;
}
.item:not(:last-child) {
    margin-bottom: 10px;
  }
.avatar {
    width: 100px;
    background-color: #fff;
    border: 1px solid rgb(116, 118, 119);
    border-radius: 20px;
    margin-right: 30px;
}
.statusGreen {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgb(116, 118, 119);
    background-color: rgb(10, 180, 10);
}
.statusRed {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgb(116, 118, 119);
    background-color: rgb(160, 17, 7);
}